.main-title {
    margin: 32px auto;
    color: #2e2f42;
}

#datetime-picker {
    border: 1px solid #808080;
    background-color: transparent;
    outline: transparent;
    padding-block: 0;
    padding-inline: 0;
    padding-left: 16px;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    margin-bottom: 12px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#datetime-picker:focus,
#datetime-picker:hover {
    border-color: black;
}

#datetime-picker:active {
    border-color: #4e75ff;
    color: black;
}

#datetime-picker:disabled {
    background-color: #fafafa;
    color: #808080;
    border-color: #808080;
    pointer-events: none;
}

.button-start {
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 8px;
    background: #4e75ff;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-self: flex-start;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-start:focus,
.button-start:hover {
    background-color: #6c8cff;
}

button:disabled {
    color: #989898;
    background-color: #cfcfcf;
    pointer-events: none;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
    min-width: 55px;
    text-align: center;
}

.label {
    line-height: 1.5;
    color: #2e2f42;
    font-size: 16px;
    text-transform: uppercase;
}